@using Microsoft.AspNetCore.Http;
@using Model;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Stempelzeiten Monat</h3>
<table class="table">
<thead>
    <tr>
        <th>
            Eingestempelt
        </th>
        <th>
            Jahr
        </th>
        <th>
            Monat
        </th>
        <th>
            Tag
        </th>
        <th>
            Stunde
        </th>
        <th>
            Minute
        </th>
        <th></th>
    </tr>
</thead>
    <tbody>
        @model List<TimeStampModel>
        @foreach (var element in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => element.StampIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => element.TimeStampYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => element.TimeStampMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => element.TimeStampDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => element.TimeStampHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => element.TimeStampMinute)
            </td>
        </tr>
        }
    </tbody>
</table>
